<div class="portfolio">
  <div class="about-portfolio">
    <h3>Meu Portfolio</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores eos, quod quas distinctio et quisquam beatae quia iusto necessitatibus ab?
    </p>
    <button>Ver mais</button>
  </div>

  <div class="projects">
    <div class="projects-col-1">
      <div></div>
      <div></div>
    </div>
    <div class="projects-col-2">
      <div></div>
      <div></div>
    </div>
    <div class="projects-col-3">
      <div></div>
      <div></div>
    </div>
  </div>
</div>
