.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-portfolio {
    width: 90%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    font-size: 3rem;
}

.about-portfolio p {
    font-size: 1.2rem;
}

.about-portfolio button {
    padding: .5rem 2rem;
    width: max-content;
}

.projects {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.projects-col-1,
.projects-col-2,
.projects-col-3 {
    width: 30%;
}

.projects-col-1 div,
.projects-col-2 div,
.projects-col-3 div {
    background-color: #eee;
    width: 100%;    
    height: 13rem;
    margin: 1.5rem 0;
}

.projects-col-2 {
    margin-top: 4rem;
}

@media(min-width: 1023px) {
    .portfolio {
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
        padding: 0 70px;
    }

    .about-portfolio {
        width: 40%;
    }

    .projects {
        width: 60%;
    }
}