.topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    margin: 2rem 0;
}

.topics:hover .under-title {
    width: 150px;
}

.topics>div {
    position: relative;
    width: 100%;
}

span {
    position: absolute;
    top: 0;
    right: 0;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
}

li {
    background-color: #202020;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    transition: all .5s;
    font-size: 1.2rem;
    font-weight: bold;
}

.js:hover {
    background-color: #ebc22ece;
}

.react:hover {
    background-color: #46c9f1c4;
}

.sql:hover {
    background-color: 	#ffa600d3 ;
}

.csharp:hover {
    background-color: #621F74;
}

@media(min-width: 767px) {
    .topics>div {
        width: 90%;
    }

    ul {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }

    li {
        width: 47%;
        margin: 1rem 0;
    }
}

@media(min-width: 1023px) {
    li {
        width: 23%;
    }

    .topics {
        margin: 5rem 0;
    }
}