header {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    font-size: 1.1rem;
}

.selected {
    font-weight: bold;
    color: #eee;
}