.carrosel {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.roadmap-front,
.roadmap-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    min-height: 25rem;
    animation: changeBanner .4s;
}

.roadmap-front div:first-child h3,
.roadmap-back div:first-child h3 {
    font-size: 3rem;
    margin-bottom: .8rem;
}

.roadmap-front div:first-child button,
.roadmap-back div:first-child button {
    margin-top: 2rem;
    padding: .5rem 1rem;
}

.img {
    width: 100%;
    max-width: 400px;
}

.img img {
    width: 100%;
    height: 100%;
}

.display-none {
    /* transform: translateX(500%); */
    display: none;
}

@media(min-width: 767px) {

    .roadmap-front,
    .roadmap-back {
        flex-direction: row;
        justify-content: space-around;
    }

    .roadmap-front div:first-child h3,
    .roadmap-back div:first-child h3 {
        font-size: 4.5rem;
        margin-bottom: .8rem;
    }

    .roadmap-front div:first-child p,
    .roadmap-back div:first-child p {
        font-size: 1.5rem;
    }
}

@keyframes changeBanner {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(0);
    }
}