<div class="about">
  <h2>Eae Beleza?</h2>

  <p>
    Me chamo Marcos Segantine e esse é um desafio do bootcamp da <a href="https://br.nttdata.com/">NTT DATA</a> na
    <a href="https://www.dio.me/">DIO</a>, onde eu tive que construir um blog em Angular utilizando os
    conhecimentos que aprendi no decorrer do curso. Este blog não esta completamente funcional como você pode ver, mas o intuito não é esse.
  </p>

  <p>
    O design deste deafio foi inspirado no
    <a href="https://www.segantine.dev">meu blog</a> oficial, tava sem criatividade para pensar em outra coisa.
  </p>

  <p>
    Espero que tenha gostado, para mais informações sobre mim e meu trabalho
    confira os links logo abaixo no rodapé.
  </p>
</div>
