<div class="articles-container">
  <nav>
    <ul>
      <li class="selected">Mais recentes</li>
      <li>Mais Vistos</li>
    </ul>
  </nav>

  <div class="articles">
    <article>
      <h4 class="title-article">Lorem ipsum dolor sit.</h4>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, ullam
        est odio et minima hic eveniet itaque autem cupiditate minus, libero ab
        quia voluptates magnam, harum sequi! Deserunt, vel doloribus.
      </p>
    </article>

    <article>
      <h4 class="title-article">Lorem ipsum dolor sit.</h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus ratione
        dolorum quas exercitationem, doloremque quo! Porro dolor modi illum non
        labore amet explicabo totam rem eaque recusandae voluptas culpa nisi
        sequi molestias, expedita consequatur id enim laudantium ea blanditiis
        natus eum hic iusto. Quaerat a repellendus totam at voluptatem nulla,
        laboriosam, nobis cumque, velit dolores aut eaque? Expedita, accusamus
        iure.
      </p>
    </article>
    <article>
      <h4 class="title-article">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora,
        nostrum saepe ducimus sed libero delectus!
      </h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus ratione
        dolorum quas exercitationem, doloremque quo! Porro dolor modi illum non
        labore amet explicabo totam rem eaque recusandae voluptas culpa nisi
        sequi molestias, expedita consequatur id enim laudantium ea blanditiis
        natus eum hic iusto. Quaerat a repellendus totam at voluptatem nulla,
        laboriosam, nobis cumque, velit dolores aut eaque? Expedita, accusamus
        iure.
      </p>
    </article>
    <article>
      <h4 class="title-article">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum!
      </h4>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus ratione
      </p>
    </article>
    <article>
      <h4 class="title-article">Lorem ipsum dolor sit.</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
        autem. Ducimus explicabo voluptates minima praesentium deleniti veniam,
        iusto rem quo id quod consequuntur distinctio provident quos nemo ipsa
        nulla. Doloribus deserunt ipsam ut quasi? Perferendis quos suscipit
        laboriosam veritatis ut?
      </p>
    </article>
    <article>
      <h4 class="title-article">Lorem ipsum dolor sit.</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid,
        autem. Ducimus explicabo voluptates minima praesentium deleniti veniam,
        iusto rem quo id quod consequuntur distinctio provident quos nemo ipsa
        nulla. Doloribus deserunt ipsam ut quasi? Perferendis quos suscipit
        laboriosam veritatis ut?
      </p>
    </article>
  </div>
</div>
