.articles-container {
    margin: 5rem 0;
}

.articles-container nav {
    width: 100%;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    margin: 0 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .5rem 0;
}

li.selected {
    border-bottom: 4px solid black;
}

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

article {
    width: 90%;
    margin: 2rem 0;
}

article h4 {
    margin-bottom: 1rem;
}

.title-article {
    font-size: 1.3rem;
    font-weight: bold;
}

@media(min-width: 767px) {

    .articles {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }

    article {
        width: 35%;
        margin: 3rem 2rem;
    }
}
