*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #131219;
    --purple: #9156ec;
    --gray: #b4b4b4;
}

body {
    background-color: var(--background);
    color: var(--gray);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    background-color: var(--purple);
    color: white;
    cursor: pointer;
}

h3 {
    margin: 0;
}

.under-title {
    width: 100px;
    height: 2px;
    background-color: var(--purple);
    transition: all .5s;
}